/* This file imports all your scss partials to be compiled in one stylesheet which you can attach to your html.

All the files that are prefixed with an underscore "_name-of-file.scss are called partials - meaning that their css
isn't compiled unless it's imported into an unprefixed .scss file */
/* are placeholders for storing information that you want to reuse throughout your stylesheet
You can store things like colours, font-stacks, or any css value you think you might want to reuse
SASS uses the '$' to declare variables.*/
@-moz-viewport {
  width: device-width;
  scale: 1; }

@-ms-viewport {
  width: device-width;
  scale: 1; }

@-o-viewport {
  width: device-width;
  scale: 1; }

@-webkit-viewport {
  width: device-width;
  scale: 1; }

@viewport {
  width: device-width;
  scale: 1; }

/* line 26, /Users/Mark/Desktop/2015/scss/components/main */
html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%; }

/* line 33, /Users/Mark/Desktop/2015/scss/components/main */
ul {
  list-style-type: none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0; }

/* line 42, /Users/Mark/Desktop/2015/scss/components/main */
*, *:before, *:after {
  box-sizing: inherit; }

/* line 46, /Users/Mark/Desktop/2015/scss/components/main */
a {
  text-decoration: none; }

/* line 50, /Users/Mark/Desktop/2015/scss/components/main */
html, body {
  overflow-x: hidden; }

/* line 54, /Users/Mark/Desktop/2015/scss/components/main */
html, body, section, img, ul, li {
  margin: 0;
  padding: 0;
  font-family: "open-sans", sans-serif; }

/* line 60, /Users/Mark/Desktop/2015/scss/components/main */
header {
  text-align: right;
  position: absolute;
  width: 100%;
  padding: 0 3%;
  z-index: 10; }

/* line 68, /Users/Mark/Desktop/2015/scss/components/main */
.logo-head {
  float: left;
  left: 5%;
  position: absolute;
  width: 75px;
  top: 0.75em;
  transition: all 250ms linear; }

/* line 77, /Users/Mark/Desktop/2015/scss/components/main */
.logo-head:hover {
  opacity: 0.6; }

/* line 81, /Users/Mark/Desktop/2015/scss/components/main */
header h4 {
  display: inline-block;
  padding: 0 2%;
  color: #fff;
  letter-spacing: 2px;
  font-size: 1em;
  margin: 0.5 auto;
  font-family: 'futura-pt', sans-serif; }

/* line 91, /Users/Mark/Desktop/2015/scss/components/main */
header h4:hover {
  opacity: 0.6;
  transition: all 250ms linear; }

/* line 96, /Users/Mark/Desktop/2015/scss/components/main */
.sticky-nav {
  transition: all 250ms linear;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: rgba(34, 34, 34, 0.95); }

@media only screen and (min-width: 20em) {
  /* line 106, /Users/Mark/Desktop/2015/scss/components/main */
  .logo-head {
    max-height: 30px;
    top: 0.75em; }
 }

@media only screen and (min-width: 37.5em) {
  /* line 113, /Users/Mark/Desktop/2015/scss/components/main */
  .logo-head {
    max-height: 40px; }
 }

@media only screen and (min-width: 75em) {
  /* line 119, /Users/Mark/Desktop/2015/scss/components/main */
  .logo-head {
    max-height: 60px; }
 }

/* line 124, /Users/Mark/Desktop/2015/scss/components/main */
#top {
  display: block;
  width: 100%;
  height: 100%; }

/* line 130, /Users/Mark/Desktop/2015/scss/components/main */
video {
  z-index: -100; }

/* line 134, /Users/Mark/Desktop/2015/scss/components/main */
video #bgvideo {
  transition: 1s opacity; }

/* line 138, /Users/Mark/Desktop/2015/scss/components/main */
.embed {
  margin-left: 0;
  margin-right: 0;
  position: relative;
  width: 100%; }

/* line 145, /Users/Mark/Desktop/2015/scss/components/main */
.embed--16by9 {
  /* HD TV */
  padding-top: 56.25%; }

/* line 150, /Users/Mark/Desktop/2015/scss/components/main */
.embed__item {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%; }

/* line 158, /Users/Mark/Desktop/2015/scss/components/main */
.full-vid-cont {
  position: absolute;
  top: 0;
  z-index: -200; }

/* line 164, /Users/Mark/Desktop/2015/scss/components/main */
.show-vid {
  z-index: -100; }

/* line 168, /Users/Mark/Desktop/2015/scss/components/main */
.hide-vid {
  z-index: -200; }

/* line 172, /Users/Mark/Desktop/2015/scss/components/main */
.front-wrap {
  position: relative;
  transition: all 250ms liear;
  background-color: rgba(34, 34, 34, 0.85); }

/* line 178, /Users/Mark/Desktop/2015/scss/components/main */
.remove-bg {
  background: none; }

/* line 182, /Users/Mark/Desktop/2015/scss/components/main */
.front {
  margin-top: -90px;
  text-align: center;
  padding: 6em 28%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

/* line 193, /Users/Mark/Desktop/2015/scss/components/main */
.hp-cont {
  display: block; }

/* line 197, /Users/Mark/Desktop/2015/scss/components/main */
.play-full-toggle {
  width: 8em;
  margin-top: 15%;
  margin-bottom: 0em;
  transition: all 1ms linear; }

/* line 204, /Users/Mark/Desktop/2015/scss/components/main */
.hp-cont-alt p {
  font-family: 'futura-pt', sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 2px;
  font-size: 1.5em;
  margin: 0.75em 0; }

/* line 213, /Users/Mark/Desktop/2015/scss/components/main */
.hp-cont-alt {
  opacity: 0;
  transition: all 250ms linear; }

/* line 219, /Users/Mark/Desktop/2015/scss/components/main */
.play-full-toggle:hover, .vid-toggle-btn:hover {
  opacity: 0.8; }

/* line 223, /Users/Mark/Desktop/2015/scss/components/main */
.front ul li {
  margin-bottom: 0em; }

/* line 228, /Users/Mark/Desktop/2015/scss/components/main */
.logo {
  display: block;
  margin: 0 auto 3em;
  opacity: 0.8;
  transition: all 250ms linear; }

/* line 235, /Users/Mark/Desktop/2015/scss/components/main */
.controls {
  position: absolute;
  left: 0;
  right: 0;
  bottom: calc(100vh);
  width: 100%;
  display: block;
  z-index: 100;
  transition: all 250ms linear; }

/* line 246, /Users/Mark/Desktop/2015/scss/components/main */
.controls li {
  display: inline-block;
  margin: 0 1em; }

/* line 251, /Users/Mark/Desktop/2015/scss/components/main */
.controls p {
  margin: 0;
  text-transform: uppercase;
  font-family: "futura-pt", sans-serif;
  letter-spacing: 2px; }

/* line 258, /Users/Mark/Desktop/2015/scss/components/main */
.controls a {
  color: #ffffff; }

/* line 265, /Users/Mark/Desktop/2015/scss/components/main */
.play-vid img, .close-vid img, .toggle-video img, .toggle-video-full img {
  width: 30px;
  transition: all 250ms linear; }

/* line 276, /Users/Mark/Desktop/2015/scss/components/main */
.close-txt, .close-img, .play-txt, .play-img, .toggle-video-img, .toggle-video-txt {
  transition: all 250ms linear;
  opacity: 0; }

/* line 281, /Users/Mark/Desktop/2015/scss/components/main */
.watch-full-video {
  margin: 2em 0 0 0; }

/* line 285, /Users/Mark/Desktop/2015/scss/components/main */
.watch-full-video a {
  color: #fff;
  font-family: 'futura-pt', sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase; }

/* line 293, /Users/Mark/Desktop/2015/scss/components/main */
.arrow {
  display: block;
  margin: auto;
  margin-top: 2em;
  width: 80px;
  opacity: 0.8;
  transition: all 250ms linear; }

/* line 302, /Users/Mark/Desktop/2015/scss/components/main */
.hide {
  opacity: 0;
  display: none; }

/* line 308, /Users/Mark/Desktop/2015/scss/components/main */
.show {
  opacity: 1; }

@media only screen and (min-width: 20em) {
  /* line 313, /Users/Mark/Desktop/2015/scss/components/main */
  .play {
    font-size: 1em;
    padding: 0.75em 1em;
    border: 3px #fff solid; }

  /* line 318, /Users/Mark/Desktop/2015/scss/components/main */
  .logo {
    width: 60%;
    margin-bottom: 0.75em; }

  /* line 322, /Users/Mark/Desktop/2015/scss/components/main */
  .arrow {
    width: 25%;
    margin: 0 auto; }

  /* line 327, /Users/Mark/Desktop/2015/scss/components/main */
  .hp-cont {
    margin-top: 3.8em; }

  /* line 331, /Users/Mark/Desktop/2015/scss/components/main */
  .play-full-toggle {
    width: 3.5em;
    margin-top: 0.9em; }

  /* line 336, /Users/Mark/Desktop/2015/scss/components/main */
  .controls {
    bottom: 1em;
    right: 1em; }

  /* line 341, /Users/Mark/Desktop/2015/scss/components/main */
  .controls p {
    display: none;
    margin: 0; }

  /* line 346, /Users/Mark/Desktop/2015/scss/components/main */
  .controls img {
    width: 30px;
    margin-bottom: 0; }

  /* line 351, /Users/Mark/Desktop/2015/scss/components/main */
  .watch-full-video {
    margin: 0.75em 0 0 0; }

  /* line 355, /Users/Mark/Desktop/2015/scss/components/main */
  .arrow {
    margin-top: 0.75em; }
 }

@media only screen and (min-width: 37.5em) {
  /* line 362, /Users/Mark/Desktop/2015/scss/components/main */
  .play {
    font-size: 2em;
    padding: 0.5em 1em;
    border: 5px #fff solid; }

  /* line 368, /Users/Mark/Desktop/2015/scss/components/main */
  .logo {
    width: 230px; }

  /* line 372, /Users/Mark/Desktop/2015/scss/components/main */
  .arrow {
    margin-top: 1.5em;
    width: 20%; }

  /* line 377, /Users/Mark/Desktop/2015/scss/components/main */
  .hp-cont {
    margin-top: 30%; }

  /* line 381, /Users/Mark/Desktop/2015/scss/components/main */
  .play-full-toggle {
    width: 5em;
    margin-top: 6em; }

  /* line 386, /Users/Mark/Desktop/2015/scss/components/main */
  .controls {
    bottom: 2em;
    right: 2em; }

  /* line 391, /Users/Mark/Desktop/2015/scss/components/main */
  .controls p {
    display: block; }
 }

@media only screen and (min-width: 56em) {
  /* line 398, /Users/Mark/Desktop/2015/scss/components/main */
  .hp-cont {
    margin-top: 29%; }

  /* line 402, /Users/Mark/Desktop/2015/scss/components/main */
  .logo {
    width: 320px; }

  /* line 405, /Users/Mark/Desktop/2015/scss/components/main */
  .arrow {
    margin-top: 2em;
    width: 20%; }
 }

@media only screen and (min-width: 75em) {
  /* line 413, /Users/Mark/Desktop/2015/scss/components/main */
  .play {
    font-size: 2.5em;
    padding: 0.75em 1.2em; }

  /* line 418, /Users/Mark/Desktop/2015/scss/components/main */
  .logo {
    width: 400px; }

  /* line 422, /Users/Mark/Desktop/2015/scss/components/main */
  .arrow {
    width: 18%;
    top: 45em; }

  /* line 426, /Users/Mark/Desktop/2015/scss/components/main */
  .controls {
    bottom: calc(100vh - 65%); }

  /* line 430, /Users/Mark/Desktop/2015/scss/components/main */
  .hp-cont {
    display: block;
    margin-top: calc(100vh * 25%); }
 }

/* line 439, /Users/Mark/Desktop/2015/scss/components/main */
.about {
  padding: 5em 20% 3em;
  position: relative;
  background-color: #fff; }

/* line 445, /Users/Mark/Desktop/2015/scss/components/main */
h5 {
  text-align: center;
  font-size: 2em;
  letter-spacing: 3px;
  color: #ec008b;
  margin: 0;
  padding: 0;
  margin-bottom: 1.5em;
  font-family: 'futura-pt', sans-serif; }

/* line 456, /Users/Mark/Desktop/2015/scss/components/main */
.about p {
  font-size: 1.45em;
  line-height: 1.45em;
  text-align: center; }

/* line 462, /Users/Mark/Desktop/2015/scss/components/main */
.sep {
  position: relative;
  width: 80%;
  margin: 2em 10% 2em; }

/* line 468, /Users/Mark/Desktop/2015/scss/components/main */
.gtg {
  display: block;
  width: 15rem;
  margin: 0 auto;
  margin-top: 2.5em; }

/* line 475, /Users/Mark/Desktop/2015/scss/components/main */
.pic {
  position: relative;
  float: left; }

/* line 480, /Users/Mark/Desktop/2015/scss/components/main */
.homepage-pic {
  display: block;
  position: relative;
  width: 100%;
  background-size: cover;
  bacground-position: center center;
  z-index: 3;
  padding-bottom: 0;
  transition: all 250ms linear; }

/* line 491, /Users/Mark/Desktop/2015/scss/components/main */
.tint {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  top: 0;
  z-index: 5;
  transition: all 250ms linear; }

/* line 501, /Users/Mark/Desktop/2015/scss/components/main */
.pic:nth-child(1n) .tint {
  background-color: #00aeef; }

/* line 505, /Users/Mark/Desktop/2015/scss/components/main */
.pic:nth-child(3n) .tint {
  background-color: #fff200; }

/* line 509, /Users/Mark/Desktop/2015/scss/components/main */
.pic:nth-child(2n) .tint {
  background-color: #ec008c; }

/* line 513, /Users/Mark/Desktop/2015/scss/components/main */
.pic:hover .tint {
  opacity: 0.7; }

/* line 517, /Users/Mark/Desktop/2015/scss/components/main */
.grads p {
  float: left;
  position: relative;
  text-align: center;
  margin-bottom: -1em;
  width: 100%;
  z-index: 10;
  padding: 0.6em 0 0.4em;
  background-color: rgba(100, 100, 100, 0.5);
  color: #fff;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-family: 'futura-pt', sans-serif; }

/* line 534, /Users/Mark/Desktop/2015/scss/components/main */
.l-1-6, .m-1-4, .s-1-2 {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 3em 0; }

@media only screen and (min-width: 20em) {
  /* line 542, /Users/Mark/Desktop/2015/scss/components/main */
  .grads p {
    margin-top: -2.35em; }

  /* line 545, /Users/Mark/Desktop/2015/scss/components/main */
  .s-1-2 .pic {
    width: 50%; }

  /* line 548, /Users/Mark/Desktop/2015/scss/components/main */
  .s-1-2 .pic2 {
    width: 100%; }

  /* line 551, /Users/Mark/Desktop/2015/scss/components/main */
  .grads .partial {
    display: block; }

  /* line 554, /Users/Mark/Desktop/2015/scss/components/main */
  .grads .full {
    display: none; }

  /* line 557, /Users/Mark/Desktop/2015/scss/components/main */
  .teachers {
    width: 100%; }
 }

@media only screen and (min-width: 37.5em) {
  /* line 563, /Users/Mark/Desktop/2015/scss/components/main */
  .m-1-4 .pic {
    width: 25%; }

  /* line 566, /Users/Mark/Desktop/2015/scss/components/main */
  .m-1-4 .pic2 {
    width: 50%; }

  /* line 569, /Users/Mark/Desktop/2015/scss/components/main */
  .grads .partial {
    display: none; }

  /* line 572, /Users/Mark/Desktop/2015/scss/components/main */
  .grads .full {
    display: block; }
 }

@media only screen and (max-width: 900px) {
  /* line 578, /Users/Mark/Desktop/2015/scss/components/main */
  .grads .partial {
    display: block; }

  /* line 581, /Users/Mark/Desktop/2015/scss/components/main */
  .grads .full {
    display: none; }
 }

@media only screen and (min-width: 75em) {
  /* line 587, /Users/Mark/Desktop/2015/scss/components/main */
  .grads p {
    margin-top: -2.3em; }

  /* line 590, /Users/Mark/Desktop/2015/scss/components/main */
  .l-1-6 .pic {
    width: 16.6666%; }

  /* line 593, /Users/Mark/Desktop/2015/scss/components/main */
  .l-1-6 .pic2 {
    width: 33.3333%; }
 }

/* line 598, /Users/Mark/Desktop/2015/scss/components/main */
.event {
  position: relative;
  display: inline-block;
  padding: 0 10% 3em;
  width: 100%; }

/* line 605, /Users/Mark/Desktop/2015/scss/components/main */
.left-event, .right-event {
  float: left;
  text-align: center;
  display: inline-block; }

/* line 611, /Users/Mark/Desktop/2015/scss/components/main */
.event p {
  line-height: 1.25em;
  font-size: 1.25em; }

/* line 616, /Users/Mark/Desktop/2015/scss/components/main */
.right-event h3 {
  font-size: 1.5em; }

/* line 620, /Users/Mark/Desktop/2015/scss/components/main */
.event h4 {
  font-family: 'futura-pt', sans-serif;
  margin: 0;
  color: #00aeef; }

/* line 626, /Users/Mark/Desktop/2015/scss/components/main */
.invite {
  padding: 0.65em 1em;
  font-size: 1.5em;
  display: inline-block;
  padding: 2em auto;
  border: 5px solid #00aeef;
  transition: all 200ms ease; }

/* line 635, /Users/Mark/Desktop/2015/scss/components/main */
.right-event a:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1); }

@media only screen and (min-width: 20em) {
  /* line 642, /Users/Mark/Desktop/2015/scss/components/main */
  .left-event, .right-event {
    width: 100%; }

  /* line 646, /Users/Mark/Desktop/2015/scss/components/main */
  .left-event h5, .right-event h5 {
    margin-bottom: 0;
    margin-top: 1em; }

  /* line 651, /Users/Mark/Desktop/2015/scss/components/main */
  .map {
    width: 300px; }

  /* line 655, /Users/Mark/Desktop/2015/scss/components/main */
  .invite {
    width: 250px;
    font-size: 1.5em;
    margin-top: 1em; }
 }

@media only screen and (min-width: 75em) {
  /* line 664, /Users/Mark/Desktop/2015/scss/components/main */
  .left-event, .right-event {
    width: 50%; }

  /* line 668, /Users/Mark/Desktop/2015/scss/components/main */
  .left-event h5, .right-event h5 {
    margin-bottom: 1em; }

  /* line 672, /Users/Mark/Desktop/2015/scss/components/main */
  .map {
    width: 350px; }

  /* line 676, /Users/Mark/Desktop/2015/scss/components/main */
  .invite {
    width: 350px;
    font-size: 2em;
    margin-top: 1em; }
 }

/* line 684, /Users/Mark/Desktop/2015/scss/components/main */
footer {
  position: relative;
  background-color: #222;
  padding: 5em 0 3em;
  text-align: center; }

/* line 691, /Users/Mark/Desktop/2015/scss/components/main */
footer .invite {
  color: #fff;
  border: 5px solid #fff; }

/* line 696, /Users/Mark/Desktop/2015/scss/components/main */
ul {
  list-style-type: none; }

/* line 700, /Users/Mark/Desktop/2015/scss/components/main */
.social-links {
  display: block;
  width: 100%;
  margin: 0.6em 0 0.5em; }

/* line 706, /Users/Mark/Desktop/2015/scss/components/main */
.social, .ac-logos {
  display: block;
  width: 100%; }

/* line 711, /Users/Mark/Desktop/2015/scss/components/main */
.social-links li {
  display: inline-block; }

/* line 715, /Users/Mark/Desktop/2015/scss/components/main */
.social-links img {
  width: 40px;
  margin: 0.25em 0;
  transition: all 100ms ease; }

/* line 721, /Users/Mark/Desktop/2015/scss/components/main */
.ac-logos li {
  display: inline-block;
  margin: 2em 3%; }

/* line 726, /Users/Mark/Desktop/2015/scss/components/main */
.ac-logos img {
  width: 100%; }

/* line 730, /Users/Mark/Desktop/2015/scss/components/main */
.footer-social {
  display: block; }

/* line 734, /Users/Mark/Desktop/2015/scss/components/main */
.footer-social img {
  width: 100%; }

/* line 738, /Users/Mark/Desktop/2015/scss/components/main */
.footer-social li {
  display: inline-block;
  width: 66px;
  margin: 3em 5%;
  transition: all 250ms linear; }

/* line 745, /Users/Mark/Desktop/2015/scss/components/main */
.footer-social li:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1); }

@media only screen and (min-width: 20em) {
  /* line 750, /Users/Mark/Desktop/2015/scss/components/main */
  .social-links li {
    width: 55px; }

  /* line 754, /Users/Mark/Desktop/2015/scss/components/main */
  .ac-logos li {
    width: 30%; }

  /* line 758, /Users/Mark/Desktop/2015/scss/components/main */
  .tablet li, .desktop li {
    display: none; }
 }

@media only screen and (min-width: 37.5em) {
  /* line 765, /Users/Mark/Desktop/2015/scss/components/main */
  .social-links li {
    width: 70px; }

  /* line 768, /Users/Mark/Desktop/2015/scss/components/main */
  .ac-logos li {
    width: 25%; }

  /* line 771, /Users/Mark/Desktop/2015/scss/components/main */
  .tablet li {
    display: inline-block; }
 }

@media only screen and (min-width: 75em) {
  /* line 777, /Users/Mark/Desktop/2015/scss/components/main */
  .social-links li {
    width: 85px; }

  /* line 780, /Users/Mark/Desktop/2015/scss/components/main */
  .ac-logos li {
    width: 15%; }

  /* line 783, /Users/Mark/Desktop/2015/scss/components/main */
  .desktop li {
    display: inline-block; }
 }

/* line 788, /Users/Mark/Desktop/2015/scss/components/main */
.student-box {
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  width: 100%;
  height: 100%;
  display: none;
  padding-top: 3%;
  color: #000;
  z-index: 1000;
  overflow-y: scroll;
  transition: all 250ms linear; }

/* line 803, /Users/Mark/Desktop/2015/scss/components/main */
.student-box h2 {
  font-size: 2em;
  text-transform: uppercase;
  color: #222222;
  letter-spacing: 1px;
  font-family: "futura-pt", sans-serif;
  font-weight: 700;
  margin: 0.25em 0 0;
  letter-spacing: 2px; }

/* line 814, /Users/Mark/Desktop/2015/scss/components/main */
.overlay {
  display: block; }

/* line 818, /Users/Mark/Desktop/2015/scss/components/main */
.noscroll {
  overflow: hidden; }

/* line 822, /Users/Mark/Desktop/2015/scss/components/main */
.cover-buttons {
  width: 100%;
  clear: both;
  text-align: right; }

/* line 828, /Users/Mark/Desktop/2015/scss/components/main */
.cover-buttons img {
  width: 50px; }

/* line 832, /Users/Mark/Desktop/2015/scss/components/main */
.cover-buttons a:last-child {
  margin-right: 5%; }

/* line 836, /Users/Mark/Desktop/2015/scss/components/main */
.cover-buttons a {
  margin-left: 3%; }

/* line 840, /Users/Mark/Desktop/2015/scss/components/main */
.cover-buttons i {
  display: inline-block;
  font-size: 5em; }

/* line 845, /Users/Mark/Desktop/2015/scss/components/main */
.cyan-icon {
  color: #00aeef;
  margin-right: 2%; }

/* line 850, /Users/Mark/Desktop/2015/scss/components/main */
.cyan-icon p {
  color: #000;
  font-size: 1em; }

/* line 855, /Users/Mark/Desktop/2015/scss/components/main */
.magenta-icon {
  margin-right: 2%;
  color: #ec008c; }

/* line 860, /Users/Mark/Desktop/2015/scss/components/main */
.magenta-icon p {
  color: #000; }

/* line 864, /Users/Mark/Desktop/2015/scss/components/main */
.left {
  padding: 0 5%;
  float: left;
  margin: 0.25em 0;
  font-size: 1em;
  list-style-type: none; }

/* line 872, /Users/Mark/Desktop/2015/scss/components/main */
.left .lightbox-pic {
  width: 100%; }

/* line 876, /Users/Mark/Desktop/2015/scss/components/main */
.lightbox-pic {
  border-bottom: 5px solid #222222; }

/* line 881, /Users/Mark/Desktop/2015/scss/components/main */
.left .social {
  width: 100%;
  list-style-type: none; }

/* line 886, /Users/Mark/Desktop/2015/scss/components/main */
.skill {
  margin: 0;
  padding: 0;
  color: #222222;
  letter-spacing: 1px;
  font-weight: 400;
  font-family: 'open-sans', sans-serif; }

/* line 896, /Users/Mark/Desktop/2015/scss/components/main */
.left p {
  font-size: 1em;
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 0; }

/* line 905, /Users/Mark/Desktop/2015/scss/components/main */
.right {
  float: left;
  margin-top: 1em;
  text-align: center; }

/* line 911, /Users/Mark/Desktop/2015/scss/components/main */
.right-content {
  width: 50%;
  float: left; }

/* line 916, /Users/Mark/Desktop/2015/scss/components/main */
.right-content img {
  display: block;
  width: 100%; }

/* line 921, /Users/Mark/Desktop/2015/scss/components/main */
.right-content iframe {
  display: block;
  width: 100%;
  overflow: auto; }

/* line 927, /Users/Mark/Desktop/2015/scss/components/main */
.site, .email {
  color: #222222;
  display: inline-block;
  font-weight: 400;
  letter-spacing: 1px;
  font-family: "open-sans", sans-serif;
  margin-bottom: 0.09em;
  font-size: 0.95em; }

@media only screen and (min-width: 20em) {
  /* line 938, /Users/Mark/Desktop/2015/scss/components/main */
  .right img {
    width: 100%;
    text-align: center; }

  /* line 942, /Users/Mark/Desktop/2015/scss/components/main */
  .left {
    width: 100%;
    text-align: center;
    margin: 1em 0; }

  /* line 947, /Users/Mark/Desktop/2015/scss/components/main */
  .right {
    width: 100%;
    margin-bottom: 3em;
    padding: 0 5%; }
 }

@media only screen and (min-width: 37.5em) {
  /* line 955, /Users/Mark/Desktop/2015/scss/components/main */
  .right img {
    margin: 0; }

  /* line 958, /Users/Mark/Desktop/2015/scss/components/main */
  .left .lightbox-pic {
    width: 50%;
    margin: 0 25%; }

  /* line 962, /Users/Mark/Desktop/2015/scss/components/main */
  .left {
    text-align: center; }
 }

@media only screen and (min-width: 75em) {
  /* line 968, /Users/Mark/Desktop/2015/scss/components/main */
  .right img {
    margin: 0;
    display: block; }

  /* line 972, /Users/Mark/Desktop/2015/scss/components/main */
  .left {
    width: 40%;
    text-align: left; }

  /* line 976, /Users/Mark/Desktop/2015/scss/components/main */
  .right {
    width: 60%;
    padding: 0 5% 0 2.5%; }

  /* line 980, /Users/Mark/Desktop/2015/scss/components/main */
  .left .lightbox-pic {
    width: 100%;
    margin: 0; }
 }

@font-face {
  font-family: 'cover-buttons';
  src: url('http://grads.images.algonquindesign.ca/2015/fonts/cover-buttons.eot?85419171');
  src: url('http://grads.images.algonquindesign.ca/2015/fonts/cover-buttons.eot?85419171#iefix') format('embedded-opentype'), url('http://grads.images.algonquindesign.ca/2015/fonts/cover-buttons.woff?85419171') format('woff'), url('http://grads.images.algonquindesign.ca/2015/fonts/cover-buttons.ttf?85419171') format('truetype'), url('http://grads.images.algonquindesign.ca/2015/fonts/cover-buttons.svg?85419171#fontello') format('svg');
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?85419171#fontello') format('svg');
  }
}
*/
/* line 22, /Users/Mark/Desktop/2015/scss/components/cover-buttons */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "cover-buttons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

/* line 53, /Users/Mark/Desktop/2015/scss/components/cover-buttons */
.icon-angle-circled-left:before {
  content: '\e800'; }

/* '' */
/* line 54, /Users/Mark/Desktop/2015/scss/components/cover-buttons */
.icon-cancel-circled:before {
  content: '\e801'; }

/* '' */
/* line 55, /Users/Mark/Desktop/2015/scss/components/cover-buttons */
.icon-angle-circled-right:before {
  content: '\e802'; }

/* '' */