/* This file imports all your scss partials to be compiled in one stylesheet which you can attach to your html.

All the files that are prefixed with an underscore "_name-of-file.scss are called partials - meaning that their css
isn't compiled unless it's imported into an unprefixed .scss file */
/* are placeholders for storing information that you want to reuse throughout your stylesheet
You can store things like colours, font-stacks, or any css value you think you might want to reuse
SASS uses the '$' to declare variables.*/
@-moz-viewport {
  width: device-width;
  scale: 1; }

@-ms-viewport {
  width: device-width;
  scale: 1; }

@-o-viewport {
  width: device-width;
  scale: 1; }

@-webkit-viewport {
  width: device-width;
  scale: 1; }

@viewport {
  width: device-width;
  scale: 1; }

/* line 7, /Users/Mark/Desktop/2015/scss/components/main */
html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%; }

/* line 15, /Users/Mark/Desktop/2015/scss/components/main */
ul {
  list-style-type: none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0; }

/* line 24, /Users/Mark/Desktop/2015/scss/components/main */
*, *:before, *:after {
  box-sizing: inherit; }

/* line 28, /Users/Mark/Desktop/2015/scss/components/main */
a {
  text-decoration: none; }

/* line 37, /Users/Mark/Desktop/2015/scss/components/main */
html, body, section, img, ul, li {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif; }

/* line 44, /Users/Mark/Desktop/2015/scss/components/main */
header {
  text-align: right;
  position: relative;
  border-bottom: 5px solid #fff;
  padding: 0 5%;
  z-index: 10; }

/* line 53, /Users/Mark/Desktop/2015/scss/components/main */
.logo-head {
  float: left;
  left: 5%;
  position: absolute;
  max-height: 50px;
  top: 0.75em; }

/* line 61, /Users/Mark/Desktop/2015/scss/components/main */
header h4 {
  display: inline-block;
  padding: 0 2%;
  color: #fff;
  letter-spacing: 2px; }

/* line 68, /Users/Mark/Desktop/2015/scss/components/main */
.sticky-nav {
  transition: all 250ms linear;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: rgba(34, 34, 34, 0.95); }

@media only screen and (min-width: 20em) {
  /* line 79, /Users/Mark/Desktop/2015/scss/components/main */
  header h4 {
    font-size: 0.75em; }

  /* line 82, /Users/Mark/Desktop/2015/scss/components/main */
  .logo-head {
    max-height: 30px;
    top: 0.5em; }
 }

@media only screen and (min-width: 37.5em) {
  /* line 89, /Users/Mark/Desktop/2015/scss/components/main */
  header h4 {
    font-size: 1em; }

  /* line 92, /Users/Mark/Desktop/2015/scss/components/main */
  .logo-head {
    max-height: 40px;
    top: 0.75em; }
 }

@media only screen and (min-width: 75em) {
  /* line 99, /Users/Mark/Desktop/2015/scss/components/main */
  header h4 {
    font-size: 1.25em; }

  /* line 102, /Users/Mark/Desktop/2015/scss/components/main */
  .logo-head {
    max-height: 60px;
    top: 0.35em; }
 }

/* line 110, /Users/Mark/Desktop/2015/scss/components/main */
.front {
  margin-top: -78px;
  text-align: center;
  padding: 10em 0;
  background-color: #bbb; }

/* line 117, /Users/Mark/Desktop/2015/scss/components/main */
.logo {
  display: block;
  margin: 0 auto 5em; }

/* line 122, /Users/Mark/Desktop/2015/scss/components/main */
.play {
  color: #fff;
  letter-spacing: 2px;
  display: inline-block;
  margin: 0; }

/* line 129, /Users/Mark/Desktop/2015/scss/components/main */
.arrow {
  position: absolute;
  width: 80px;
  margin-left: -40px; }

@media only screen and (min-width: 20em) {
  /* line 136, /Users/Mark/Desktop/2015/scss/components/main */
  .play {
    font-size: 1em;
    padding: 0.75em 1em;
    border: 3px #fff solid; }

  /* line 141, /Users/Mark/Desktop/2015/scss/components/main */
  .logo {
    width: 200px; }

  /* line 144, /Users/Mark/Desktop/2015/scss/components/main */
  .arrow {
    top: 32em; }
 }

@media only screen and (min-width: 37.5em) {
  /* line 150, /Users/Mark/Desktop/2015/scss/components/main */
  .play {
    font-size: 2em;
    padding: 0.5em 1em;
    border: 5px #fff solid; }

  /* line 155, /Users/Mark/Desktop/2015/scss/components/main */
  .logo {
    width: 300px; }

  /* line 158, /Users/Mark/Desktop/2015/scss/components/main */
  .arrow {
    top: 40em; }
 }

@media only screen and (min-width: 75em) {
  /* line 164, /Users/Mark/Desktop/2015/scss/components/main */
  .play {
    font-size: 2.5em;
    padding: 0.75em 1.5em; }

  /* line 168, /Users/Mark/Desktop/2015/scss/components/main */
  .logo {
    width: 400px; }

  /* line 171, /Users/Mark/Desktop/2015/scss/components/main */
  .arrow {
    top: 45em; }
 }

/* line 178, /Users/Mark/Desktop/2015/scss/components/main */
.about {
  padding: 5em 20% 3em;
  position: relative; }

/* line 183, /Users/Mark/Desktop/2015/scss/components/main */
h5 {
  text-align: center;
  font-size: 2.5em;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
  margin-bottom: 1.5em; }

/* line 191, /Users/Mark/Desktop/2015/scss/components/main */
.about p {
  font-size: 1.25em;
  line-height: 1.25em; }

/* line 196, /Users/Mark/Desktop/2015/scss/components/main */
.sep {
  position: relative;
  width: 80%;
  margin: 2em 10% 2em; }

/* line 205, /Users/Mark/Desktop/2015/scss/components/main */
.pic {
  position: relative;
  float: left; }

/* line 210, /Users/Mark/Desktop/2015/scss/components/main */
.homepage-pic {
  display: block;
  position: relative;
  float: left;
  width: 100%;
  background-size: cover;
  bacground-position: center center;
  z-index: 3;
  padding-bottom: 0;
  transition: all 250ms linear; }

/* line 222, /Users/Mark/Desktop/2015/scss/components/main */
.tint {
  position: absolute;
  background-color: cyan;
  width: 100%;
  height: 100%;
  opacity: 0;
  top: 0; }

/* line 231, /Users/Mark/Desktop/2015/scss/components/main */
.yellow {
  background-color: yellow; }

/* line 235, /Users/Mark/Desktop/2015/scss/components/main */
.magenta {
  background-color: magenta; }

/* line 239, /Users/Mark/Desktop/2015/scss/components/main */
.tint:hover {
  opacity: 0.5; }

/* line 243, /Users/Mark/Desktop/2015/scss/components/main */
.grads p {
  float: left;
  position: relative;
  text-align: center;
  margin-top: -2em;
  margin-bottom: -1em;
  width: 100%;
  z-index: 10;
  padding: 0.6em 0 0.5em;
  background-color: rgba(100, 100, 100, 0.5);
  color: #fff;
  letter-spacing: 1px;
  font-weight: 300; }

/* line 260, /Users/Mark/Desktop/2015/scss/components/main */
.l-1-6, .m-1-4, .s-1-2 {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 3em 0; }

@media only screen and (min-width: 20em) {
  /* line 268, /Users/Mark/Desktop/2015/scss/components/main */
  .s-1-2 .pic {
    width: 50%; }

  /* line 271, /Users/Mark/Desktop/2015/scss/components/main */
  .s-1-2 .pic2 {
    width: 100%; }

  /* line 275, /Users/Mark/Desktop/2015/scss/components/main */
  .grads .partial {
    display: block; }
  /* line 278, /Users/Mark/Desktop/2015/scss/components/main */
  .grads .full {
    display: none; }
 }

@media only screen and (min-width: 37.5em) {
  /* line 285, /Users/Mark/Desktop/2015/scss/components/main */
  .m-1-4 .pic {
    width: 25%; }

  /* line 288, /Users/Mark/Desktop/2015/scss/components/main */
  .m-1-4 .pic2 {
    width: 50%; }

  /* line 292, /Users/Mark/Desktop/2015/scss/components/main */
  .grads .partial {
    display: none; }
  /* line 295, /Users/Mark/Desktop/2015/scss/components/main */
  .grads .full {
    display: block; }
 }

@media only screen and (min-width: 75em) {
  /* line 302, /Users/Mark/Desktop/2015/scss/components/main */
  .l-1-6 .pic {
    width: 16.6666%; }

  /* line 305, /Users/Mark/Desktop/2015/scss/components/main */
  .l-1-6 .pic2 {
    width: 33.3333%; }
 }

/* line 310, /Users/Mark/Desktop/2015/scss/components/main */
.teachers {
  width: 100%; }

/* line 316, /Users/Mark/Desktop/2015/scss/components/main */
.event {
  position: relative;
  display: inline-block;
  padding: 0 10% 3em;
  width: 100%; }

/* line 324, /Users/Mark/Desktop/2015/scss/components/main */
.left-event, .right-event {
  float: left;
  text-align: center;
  display: inline-block; }

/* line 330, /Users/Mark/Desktop/2015/scss/components/main */
.event p {
  line-height: 1.25em;
  font-size: 1.25em; }

/* line 336, /Users/Mark/Desktop/2015/scss/components/main */
.right-event h3 {
  font-size: 1.5em; }

/* line 340, /Users/Mark/Desktop/2015/scss/components/main */
.event h4 {
  padding: 0.5em 0;
  margin: 0;
  color: MEDIUMTURQUOISE; }

/* line 346, /Users/Mark/Desktop/2015/scss/components/main */
.invite {
  display: inline-block;
  padding: 2em auto;
  border: 5px solid MEDIUMTURQUOISE;
  transition: all 200ms ease; }

/* line 353, /Users/Mark/Desktop/2015/scss/components/main */
.right-event a:hover {
  -webkit-transform: scale(1.25);
      -ms-transform: scale(1.25);
          transform: scale(1.25); }

@media only screen and (min-width: 20em) {
  /* line 359, /Users/Mark/Desktop/2015/scss/components/main */
  .left-event, .right-event {
    width: 100%; }

  /* line 363, /Users/Mark/Desktop/2015/scss/components/main */
  .left-event h5, .right-event h5 {
    margin-bottom: 0;
    margin-top: 1em; }

  /* line 367, /Users/Mark/Desktop/2015/scss/components/main */
  .map {
    width: 300px; }

  /* line 370, /Users/Mark/Desktop/2015/scss/components/main */
  .invite {
    width: 250px;
    font-size: 1.5em;
    margin-top: 1em; }
 }

@media only screen and (min-width: 37.5em) {
  /* line 379, /Users/Mark/Desktop/2015/scss/components/main */
  .left-event, .right-event {
    width: 50%; }

  /* line 383, /Users/Mark/Desktop/2015/scss/components/main */
  .left-event h5, .right-event h5 {
    margin-bottom: 1em; }

  /* line 386, /Users/Mark/Desktop/2015/scss/components/main */
  .map {
    width: 200px; }

  /* line 389, /Users/Mark/Desktop/2015/scss/components/main */
  .invite {
    width: 200px;
    font-size: 1em;
    margin-top: 1em; }
 }

@media only screen and (min-width: 75em) {
  /* line 397, /Users/Mark/Desktop/2015/scss/components/main */
  .map {
    width: 350px; }

  /* line 400, /Users/Mark/Desktop/2015/scss/components/main */
  .invite {
    width: 300px;
    font-size: 2em; }
 }

/* line 408, /Users/Mark/Desktop/2015/scss/components/main */
footer {
  position: relative;
  background-color: #666;
  padding: 5em 0 3em;
  text-align: center; }

/* line 415, /Users/Mark/Desktop/2015/scss/components/main */
ul {
  list-style-type: none; }

/* line 419, /Users/Mark/Desktop/2015/scss/components/main */
.social-links {
  text-align: center; }

/* line 424, /Users/Mark/Desktop/2015/scss/components/main */
.social, .ac-logos {
  display: block;
  width: 100%; }

/* line 429, /Users/Mark/Desktop/2015/scss/components/main */
.social-links li {
  display: inline-block;
  padding: 2em; }

/* line 434, /Users/Mark/Desktop/2015/scss/components/main */
.social-links img {
  width: 100%;
  border-radius: 200px;
  transition: all 100ms ease; }

/* line 440, /Users/Mark/Desktop/2015/scss/components/main */
.social-links a img:hover {
  -webkit-transform: scale(1.15);
      -ms-transform: scale(1.15);
          transform: scale(1.15); }

/* line 444, /Users/Mark/Desktop/2015/scss/components/main */
.ac-logos li {
  display: inline-block;
  margin: 2em 3%; }

/* line 449, /Users/Mark/Desktop/2015/scss/components/main */
.ac-logos img {
  width: 100%; }

@media only screen and (min-width: 20em) {
  /* line 454, /Users/Mark/Desktop/2015/scss/components/main */
  .social-links li {
    width: 75px;
    height: 75px; }

  /* line 458, /Users/Mark/Desktop/2015/scss/components/main */
  .ac-logos li {
    width: 30%; }

  /* line 462, /Users/Mark/Desktop/2015/scss/components/main */
  .tablet li, .desktop li {
    display: none; }
 }

@media only screen and (min-width: 37.5em) {
  /* line 468, /Users/Mark/Desktop/2015/scss/components/main */
  .social-links li {
    width: 100px;
    height: 100px; }

  /* line 472, /Users/Mark/Desktop/2015/scss/components/main */
  .ac-logos li {
    width: 25%; }

  /* line 475, /Users/Mark/Desktop/2015/scss/components/main */
  .tablet li {
    display: inline-block; }
 }

@media only screen and (min-width: 75em) {
  /* line 481, /Users/Mark/Desktop/2015/scss/components/main */
  .ac-logos li {
    width: 15%; }

  /* line 484, /Users/Mark/Desktop/2015/scss/components/main */
  .desktop li {
    display: inline-block; }
 }

/* line 492, /Users/Mark/Desktop/2015/scss/components/main */
.student-box {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  padding: 6em 0;
  z-index: 2000;
  width: 100%;
  height: 100%;
  background: rgba(34, 34, 34, 0.8); }

/* line 504, /Users/Mark/Desktop/2015/scss/components/main */
.student-box h2 {
  color: #fff;
  letter-spacing: 1px;
  font-weight: 300; }

/* line 510, /Users/Mark/Desktop/2015/scss/components/main */
.overlay {
  display: block; }

/* line 514, /Users/Mark/Desktop/2015/scss/components/main */
.noscroll {
  overflow: hidden; }

/* line 523, /Users/Mark/Desktop/2015/scss/components/main */
.prev-student, .next-student, .close-overlay {
  position: absolute; }

/* line 529, /Users/Mark/Desktop/2015/scss/components/main */
.prev-student, .next-student, .close-overlay {
  border: 2px solid #fff;
  padding: 0.5em 1em; }

/* line 534, /Users/Mark/Desktop/2015/scss/components/main */
.prev-student {
  top: 1.25em;
  left: 7.5%; }

/* line 539, /Users/Mark/Desktop/2015/scss/components/main */
.next-student {
  top: 1.25em;
  right: 2.5%; }

/* line 544, /Users/Mark/Desktop/2015/scss/components/main */
.close-overlay {
  bottom: 2em;
  right: 2.5%; }

/* line 549, /Users/Mark/Desktop/2015/scss/components/main */
.left {
  padding: 0 7.5%;
  float: left;
  width: 50%; }

/* line 555, /Users/Mark/Desktop/2015/scss/components/main */
.left h2 {
  font-size: 1.5em; }

/* line 559, /Users/Mark/Desktop/2015/scss/components/main */
.left .lightbox-pic {
  width: 100%; }

/* line 563, /Users/Mark/Desktop/2015/scss/components/main */
.left .skills li {
  margin: 0.25em 0;
  font-size: 1em;
  list-style-type: none; }

/* line 569, /Users/Mark/Desktop/2015/scss/components/main */
.left .social {
  margin: 1.5em 0;
  width: 100%;
  list-style-type: none; }

/* line 575, /Users/Mark/Desktop/2015/scss/components/main */
.left p {
  font-size: 1em;
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 0;
  margin: 0 0 0.5em; }

/* line 583, /Users/Mark/Desktop/2015/scss/components/main */
.right {
  float: left;
  width: 50%;
  padding-right: 1%; }

/* line 589, /Users/Mark/Desktop/2015/scss/components/main */
.right img {
  width: 50%;
  float: left; }

/* line 595, /Users/Mark/Desktop/2015/scss/components/main */
.site, .email {
  color: #fff;
  font-weight: 300;
  letter-spacing: 1px; }

@media only screen and (min-width: 20em) {
  /* line 606, /Users/Mark/Desktop/2015/scss/components/main */
  .right img {
    width: 75%;
    margin: 0.25em 12.5%; }
 }

@media only screen and (min-width: 37.5em) {
  /* line 613, /Users/Mark/Desktop/2015/scss/components/main */
  .right img {
    width: 50%;
    margin: 0;
    padding: 0 2.5% 2em; }
 }

@media only screen and (min-width: 75em) {
  /* line 621, /Users/Mark/Desktop/2015/scss/components/main */
  .right img {
    width: 50%;
    margin: 0;
    padding: 0 2.5% 2em; }
 }
