@font-face {
  font-family: 'cover-buttons';
  src: url('http://grads.images.algonquindesign.ca/2015/fonts/cover-buttons.eot?85419171');
  src: url('http://grads.images.algonquindesign.ca/2015/fonts/cover-buttons.eot?85419171#iefix') format('embedded-opentype'),
       url('http://grads.images.algonquindesign.ca/2015/fonts/cover-buttons.woff?85419171') format('woff'),
       url('http://grads.images.algonquindesign.ca/2015/fonts/cover-buttons.ttf?85419171') format('truetype'),
       url('http://grads.images.algonquindesign.ca/2015/fonts/cover-buttons.svg?85419171#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?85419171#fontello') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "cover-buttons";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-angle-circled-left:before { content: '\e800'; } /* '' */
.icon-cancel-circled:before { content: '\e801'; } /* '' */
.icon-angle-circled-right:before { content: '\e802'; } /* '' */
