@-moz-viewport {
  width: device-width;
  scale: 1;
}

@-ms-viewport {
  width: device-width;
  scale: 1;
}

@-o-viewport {
  width: device-width;
  scale: 1;
}

@-webkit-viewport {
  width: device-width;
  scale: 1;
}

@viewport {
  width: device-width;
  scale: 1;
}

html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

ul {
  list-style-type: none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

html, body {
  overflow-x: hidden;
}

html, body, section, img, ul, li {
  margin: 0;
  padding: 0;
  font-family: "open-sans", sans-serif;
}

header {
  text-align: right;
  position: absolute;
  width: 100%;
  padding: 0 3%;
  z-index: 10;
}

.logo-head {
  float: left;
  left: 5%;
  position: absolute;
  width: 75px;
  top: 0.75em;
  transition: all 250ms linear;
}

.logo-head:hover {
  opacity: 0.6;
}

header h4 {
  display: inline-block;
  padding: 0 2%;
  color: #fff;
  letter-spacing: 2px;
  font-size: 1em;
  margin: 0.5 auto;
  font-family: 'futura-pt', sans-serif;
}

header h4:hover {
  opacity: 0.6;
  transition: all 250ms linear;
}

.sticky-nav {
  transition: all 250ms linear;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: rgba(34, 34, 34, 0.95);
}

@media only screen and (min-width: 20em) {
  .logo-head {
    max-height: 30px;
    top: 0.75em;
  }
 }

@media only screen and (min-width: 37.5em) {
  .logo-head {
    max-height: 40px;
  }
 }

@media only screen and (min-width: 75em) {
  .logo-head {
    max-height: 60px;
  }
 }

#top {
  display: block;
  width: 100%;
  height: 100%;
}

video {
  z-index: -100;
}

video #bgvideo {
  transition: 1s opacity;
}

.embed {
  margin-left: 0;
  margin-right: 0;
  position: relative;
  width: 100%;
}

.embed--16by9 {
  /* HD TV */
  padding-top: 56.25%;
}

.embed__item {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.full-vid-cont{
  position: absolute;
  top: 0;
  z-index:-200;
}

.show-vid {
  z-index: -100;
}

.hide-vid {
  z-index: -200;
}

.front-wrap {
  position: relative;
  transition: all 250ms liear;
  background-color: rgba(34, 34, 34, 0.85);
}

.remove-bg {
  background:none
}

.front {
  margin-top: -90px;
  text-align: center;
  padding: 6em 28%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.hp-cont {
  display: block;
  margin-top: 10em;
}

.play-full-toggle {
  width: 8em;
  margin-top: 15%;
  margin-bottom: 0em;
  transition: all 1ms linear;
}

.hp-cont-alt p {
  font-family: 'futura-pt', sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 2px;
  font-size: 1.5em;
  margin: .75em 0;
}

.hp-cont-alt {
  opacity: 0;
  transition: all 250ms linear;
}

.play-full-toggle:hover,
.vid-toggle-btn:hover {
  opacity: .8;
}

.front ul li {
  margin-bottom: 0em;
}


.logo {
  display: block;
  margin: 0 auto 3em;
  opacity: .8;
  transition: all 250ms linear;
}

.controls {
  position: absolute;
  right: 2.5rem;
  display: block;
  z-index: 100;
  transition: all 250ms linear;
}

.controls li {
  display:block;
  margin: .75em 0;
}

.controls p {
  margin:0;
  text-transform: uppercase;
  font-family: "futura-pt", sans-serif;
  letter-spacing: 2px;
}

.controls a  {
  color: #ffffff;
}

.play-vid img,
.close-vid img,
.toggle-video img,
.toggle-video-full img{
  width: 30px;
  transition: all 250ms linear;
}

.close-txt,
.close-img,
.play-txt,
.play-img {
  transition: all 250ms linear;
  opacity:0;
}


.arrow {
  display: block;
  margin: auto;
  margin-top: 2em;
  width: 80px;
  opacity: .8;
  transition: all 250ms linear;
}

.hide  {
  opacity: 0;
  display: none;

}

.show {
  opacity: 1;
}

@media only screen and (min-width: 20em) {
  .play {
    font-size: 1em;
    padding: 0.75em 1em;
    border: 3px #fff solid;
  }
  .logo {
    width: 60%;
    margin-bottom: .75em;
  }
  .arrow {
    width: 30%;
    margin: 0 auto;
  }

  .hp-cont {
    margin-top: 3.5em;
  }

  .play-full-toggle {
    width: 3.5em;
    margin-top: 0.9em;
  }

  .hp-cont-alt p {
    font-size: 1em;
    margin-top: .5em;
  }
}

@media only screen and (min-width: 37.5em) {
  .play {
    font-size: 2em;
    padding: 0.5em 1em;
    border: 5px #fff solid;
  }

  .logo {
    width: 250px;
  }

  .arrow {
    margin-top: 1.5em;
    width: 25%;
  }

  .hp-cont {
    margin-top: 5.5em;
  }

  .play-full-toggle {
    width: 5em;
    margin-top: 6em;
  }

  .hp-cont-alt p {
    font-size: 1.5em;
    margin-top: .5em;
  }
 }

@media only screen and (min-width: 75em) {
  .play {
    font-size: 2.5em;
    padding: 0.75em 1.2em;
  }

  .logo {
    width: 400px;
  }

  .arrow {
    top: 45em;
  }

 }

 .controls {
   bottom: calc(100vh - 38em);
 }

.about {
  padding: 5em 20% 3em;
  position: relative;
  background-color: #fff;
}

h5 {
  text-align: center;
  font-size: 2em;
  letter-spacing: 3px;
  color: #ec008b;
  margin: 0;
  padding: 0;
  margin-bottom: 1.5em;
  font-family: 'futura-pt', sans-serif;
}

.about p {
  font-size: 1.45em;
  line-height: 1.45em;
  text-align: center;
}

.sep {
  position: relative;
  width: 80%;
  margin: 2em 10% 2em;
}

.gtg {
  display: block;
  width: 15rem;
  margin: 0 auto;
  margin-top: 2.5em;
}

.pic {
  position: relative;
  float: left;
}

.homepage-pic {
  display: block;
  position: relative;
  width: 100%;
  background-size: cover;
  bacground-position: center center;
  z-index: 3;
  padding-bottom: 0;
  transition: all 250ms linear;
}

.tint {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  top: 0;
  z-index: 5;
  transition: all 250ms linear;
}

.pic:nth-child(1n) .tint {
  background-color: #00aeef;
}

.pic:nth-child(3n) .tint {
  background-color: #fff200;
}

.pic:nth-child(2n) .tint {
  background-color: #ec008c;
}

.pic:hover .tint {
  opacity: 0.7;
}

.grads p {
  float: left;
  position: relative;
  text-align: center;
  margin-top: -2.3em;
  margin-bottom: -1em;
  width: 100%;
  z-index: 10;
  padding: 0.6em 0 0.4em;
  background-color: rgba(100, 100, 100, 0.5);
  color: #fff;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-family: 'futura-pt', sans-serif;
}

.l-1-6, .m-1-4, .s-1-2 {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 3em 0;
}

@media only screen and (min-width: 20em) {

  .s-1-2 .pic {
    width: 50%;
  }

  .s-1-2 .pic2 {
    width: 100%;
  }

  .grads .partial {
    display: block;
  }

  .grads .full {
    display: none;
  }

  .teachers {
    width: 100%;
  }

 }

@media only screen and (min-width: 37.5em) {
  .m-1-4 .pic {
    width: 25%;
  }

  .m-1-4 .pic2 {
    width: 50%;
  }

  .grads .partial {
    display: none;
  }
  .grads .full {
    display: block;
  }

 }

@media only screen and (max-width: 900px) {
  .grads .partial {
    display: block;
  }
  .grads .full {
    display: none;
  }

 }

@media only screen and (min-width: 75em) {
  .l-1-6 .pic {
    width: 16.6666%;
  }

  .l-1-6 .pic2 {
    width: 33.3333%;
  }

 }

.event {
  position: relative;
  display: inline-block;
  padding: 0 10% 3em;
  width: 100%;
}

.left-event, .right-event {
  float: left;
  text-align: center;
  display: inline-block;
}

.event p {
  line-height: 1.25em;
  font-size: 1.25em;
}

.right-event h3 {
  font-size: 1.5em;
}

.event h4 {
  font-family: 'futura-pt', sans-serif;
  margin: 0;
  color: #00aeef;
}

.invite {
  padding: 0.65em 1em;
  font-size: 1.5em;
  display: inline-block;
  padding: 2em auto;
  border: 5px solid #00aeef;
  transition: all 200ms ease;
}

.right-event a:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
        }

@media only screen and (min-width: 20em) {
  .left-event, .right-event {
    width: 100%;
  }

  .left-event h5, .right-event h5 {
    margin-bottom: 0;
    margin-top: 1em;
  }

  .map {
    width: 300px;
  }

  .invite {
    width: 250px;
    font-size: 1.5em;
    margin-top: 1em;
  }

 }

@media only screen and (min-width: 75em) {
  .left-event, .right-event {
    width: 50%;
  }

  .left-event h5, .right-event h5 {
    margin-bottom: 1em;
  }

  .map {
    width: 350px;
  }

  .invite {
    width: 350px;
    font-size: 2em;
    margin-top: 1em;
  }

 }

footer {
  position: relative;
  background-color: #222;
  padding: 5em 0 3em;
  text-align: center;
}

footer .invite {
  color: #fff;
  border: 5px solid #fff;
}

ul {
  list-style-type: none;
}

.social-links {
  display: block;
  width: 100%;
  margin: 0.6em 0 0.5em;
}

.social, .ac-logos {
  display: block;
  width: 100%;
}

.social-links li {
  display: inline-block;
}

.social-links img {
  width: 40px;
  margin: 0.25em 0;
  transition: all 100ms ease;
}

.ac-logos li {
  display: inline-block;
  margin: 2em 3%;
}

.ac-logos img {
  width: 100%;
}

.footer-social {
  display: block;
}

.footer-social img {
  width: 100%;
}

.footer-social li {
  display: inline-block;
  width: 66px;
  margin: 3em 5%;
  transition: all 250ms linear;
}

.footer-social li:hover {
  transform: scale(1.1);
}

@media only screen and (min-width: 20em) {
  .social-links li {
    width: 55px;
  }

  .ac-logos li {
    width: 30%;
  }

  .tablet li, .desktop li {
    display: none;
  }

 }

@media only screen and (min-width: 37.5em) {
  .social-links li {
    width: 70px;
  }
  .ac-logos li {
    width: 25%;
  }
  .tablet li {
    display: inline-block;
  }
 }

@media only screen and (min-width: 75em) {
  .social-links li {
    width: 85px;
  }
  .ac-logos li {
    width: 15%;
  }
  .desktop li {
    display: inline-block;
  }
 }

.student-box {
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  width: 100%;
  height: 100%;
  display: none;
  padding-top: 3%;
  color: #000;
  z-index: 1000;
  overflow-y: scroll;
  transition: all 250ms linear;
}

.student-box h2 {
  font-size: 2em;
  text-transform: uppercase;
  color: #222222;
  letter-spacing: 1px;
  font-family: "futura-pt", sans-serif;
  font-weight: 700;
  margin: 0.25em 0 0;
  letter-spacing: 2px;
}

.overlay {
  display: block;
}

.noscroll {
  overflow: hidden;
}

.cover-buttons {
  width: 100%;
  clear: both;
  text-align: right;
}

.cover-buttons img {
  width: 50px;
}

.cover-buttons a:last-child {
  margin-right:5%;
}

.cover-buttons a {
  margin-left: 3%;
}

.cover-buttons i {
  display: inline-block;
  font-size: 5em;
}

.cyan-icon {
  color: #00aeef;
  margin-right: 2%;
}

.cyan-icon p {
  color: #000;
  font-size: 1em;
}

.magenta-icon {
  margin-right: 2%;
  color: #ec008c;
}

.magenta-icon p {
  color: #000;
}

.left {
  padding: 0 5%;
  float: left;
  margin: 0.25em 0;
  font-size: 1em;
  list-style-type: none;
}

.left .lightbox-pic {
  width: 100%;
}

.lightbox-pic {
  border-bottom: 5px solid #222222;

}

.left .social {
  width: 100%;
  list-style-type: none;
}

.skill {
  margin: 0;
  padding: 0;
  color: #222222;
  letter-spacing: 1px;
  font-weight: 400;
  font-family: 'open-sans', sans-serif;

}

.left p {
  font-size: 1em;
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 0;

}

.right {
  float: left;
  margin-top: 1em;
  text-align: center;
}

.right-content {
  width: 50%;
  float: left;
}

.right-content img {
  display: block;
  width: 100%;
}

.right-content iframe {
  display: block;
  width: 100%;
  overflow: auto;
}

.site, .email {
  color: #222222;
  display: inline-block;
  font-weight: 400;
  letter-spacing: 1px;
  font-family: "open-sans", sans-serif;
  margin-bottom: 0.09em;
  font-size: 0.95em;
}

@media only screen and (min-width: 20em) {
  .right img {
    width: 100%;
    text-align: center;
  }
  .left {
    width: 100%;
    text-align: center;
    margin: 1em 0;
  }
  .right {
    width: 100%;
    margin-bottom: 3em;
    padding: 0 5%;
  }
 }

@media only screen and (min-width: 37.5em) {
  .right img {
    margin: 0;
  }
  .left .lightbox-pic {
    width: 50%;
    margin: 0 25%;
  }
  .left {
    text-align: center;
  }
 }

@media only screen and (min-width: 75em) {
  .right img {
    margin: 0;
    display: block;
  }
  .left {
    width: 40%;
    text-align: left;
  }
  .right {
    width: 60%;
    padding: 0 5% 0 2.5%;
  }
  .left .lightbox-pic {
    width: 100%;
    margin: 0;
  	}
}
