
@-moz-viewport {
  width: device-width;
  scale: 1;
}

@-ms-viewport {
  width: device-width;
  scale: 1;
}

@-o-viewport {
  width: device-width;
  scale: 1;
}

@-webkit-viewport {
  width: device-width;
  scale: 1;
}

@viewport {
  width: device-width;
  scale: 1;
}

html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

ul {
  list-style-type: none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

html, body {
  overflow-x: hidden;
}

html, body, section, img, ul, li {
  margin: 0;
  padding: 0;
  font-family: "open-sans", sans-serif;
}

header {
  text-align: right;
  position: absolute;
  width: 100%;
  padding: 0 3%;
  z-index: 10;
}

.logo-head {
  float: left;
  left: 5%;
  position: absolute;
  width: 75px;
  top: 0.75em;
  transition: all 250ms linear;
}

.logo-head:hover {
  opacity: 0.6;
}

header h4 {
  display: inline-block;
  padding: 0 2%;
  color: #fff;
  letter-spacing: 2px;
  font-size: 1em;
  margin: 0.5 auto;
  font-family: 'futura-pt', sans-serif;
}

header h4:hover {
  opacity: 0.6;
  transition: all 250ms linear;
}

.sticky-nav {
  transition: all 250ms linear;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: rgba(34, 34, 34, 0.95);
}

@media only screen and (min-width: 20em) {
  .logo-head {
    max-height: 30px;
    top: 0.75em;
  }
 }

@media only screen and (min-width: 37.5em) {
  .logo-head {
    max-height: 40px;
  }
 }

@media only screen and (min-width: 75em) {
  .logo-head {
    max-height: 60px;
  }
 }

#top {
  display: block;
  width: 100%;
  height: 100%;
}

video {
  z-index: -100;
}

video #bgvideo {
  transition: 1s opacity;
}

.embed {
  margin-left: 0;
  margin-right: 0;
  position: relative;
  width: 100%;
}

.embed--16by9 {
  /* HD TV */
  padding-top: 56.25%;
}

.embed__item {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.full-vid-cont{
  position: absolute;
  top: 0;
  z-index:-200;
}

.show-vid {
  z-index: -100;
}

.hide-vid {
  z-index: -200;
}

.front-wrap {
  position: relative;
  transition: all 250ms liear;
  background-color: rgba(34, 34, 34, 0.85);
}

.remove-bg {
  background:none
}

.front {
  margin-top: -90px;
  text-align: center;
  padding: 6em 28%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.hp-cont {
  display: block;
}

.play-full-toggle {
  width: 8em;
  margin-top: 15%;
  margin-bottom: 0em;
  transition: all 1ms linear;
}

.hp-cont-alt p {
  font-family: 'futura-pt', sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 2px;
  font-size: 1.5em;
  margin: .75em 0;
}

.hp-cont-alt {
  opacity: 0;
  transition: all 250ms linear;
}

.play-full-toggle:hover,
.vid-toggle-btn:hover {
  opacity: .8;
}

.front ul li {
  margin-bottom: 0em;
}


.logo {
  display: block;
  margin: 0 auto 3em;
  opacity: .8;
  transition: all 250ms linear;
}

.controls {
  position: absolute;
  right: 2em;
  display: block;
  z-index: 100;
  transition: all 250ms linear;
}

.controls li {
  display:inline-block;
  margin: 0 1em;
}

.controls p {
  margin:0;
  text-transform: uppercase;
  font-family: "futura-pt", sans-serif;
  letter-spacing: 2px;
}

.controls a  {
  color: #ffffff;
}

.play-vid img,
.close-vid img,
.toggle-video img,
.toggle-video-full img{
  width: 30px;
  transition: all 250ms linear;
}


.close-txt,
.close-img,
.play-txt,
.play-img,
.toggle-video-img,
.toggle-video-txt {
  transition: all 250ms linear;
  opacity:0;
}

.watch-full-video {
  margin: 2em 0 0 0;
}

.watch-full-video a {
  color: #fff;
  font-family: 'futura-pt', sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}


.arrow {
  display: block;
  margin: auto;
  margin-top: 2em;
  width: 80px;
  opacity: .8;
  transition: all 100ms linear;
}

.arrow:hover {
  margin-top:2em;
}


.hide  {
  opacity: 0;
  display: none;

}

.show {
  opacity: 1;
}

@media only screen and (min-width: 20em) {
  .logo {
    width: 60%;
    margin-bottom: .75em;
  }
  .arrow {
    width: 40px;
    margin: .5em auto;
  }

  .hp-cont {
    margin-top: 3.8em;
  }

  .play-full-toggle {
    width: 3.5em;
    margin-top: 0.9em;
  }

   .controls {
   top: 9em;
   right: 5%;
   }

  .controls p {
    display:none;
    margin: 0;
    }

  .controls img {
    width: 30px;
   }

 .watch-full-video {
  margin: .75em 0 0 0;
  }

  .arrow {
    margin-top: .75em;
  }

}

@media only screen and (min-width: 37.5em) {
  .logo {
    width: 230px;
  }

  .arrow {
    margin-top: 1.5em;
    width: 60px;
  }

  .hp-cont {
    margin-top: 20%;
  }

  .controls {
    top: 10em;
    right: 5%;
  }

   .controls p {
    display: block;
  }

 }

 @media only screen and (min-width: 56em) {
    .hp-cont {
    margin-top: 29%;
  }

  .logo {
    width: 320px;
  }
  .arrow {
    width: 60px;
  }

  .watch-full-video a {
    font-size: 1.25em;
  }

 }

@media only screen and (min-width: 75em) {

  .logo {
    width: 400px;
  }

  .arrow {
    width: 60px;
  }
  .controls {
   top:12em;
  }

  .hp-cont {
    display: block;
    margin-top: calc(100vh * 25%);
  }

  .watch-full-video {
    margin: 1.5em 0 0 0;
  }

 }


.about {
  padding: 5em 20% 3em;
  position: relative;
  background-color: #fff;
}

h5 {
  text-align: center;
  font-size: 2em;
  letter-spacing: 3px;
  color: #ec008b;
  margin: 0;
  padding: 0;
  margin-bottom: 1.5em;
  font-family: 'futura-pt', sans-serif;
}

.about p {
  font-size: 1.45em;
  line-height: 1.45em;
  text-align: center;
}

.sep {
  position: relative;
  width: 80%;
  margin: 2em 10% 2em;
}

.gtg {
  display: block;
  width: 15rem;
  margin: 0 auto;
  margin-top: 2.5em;
}

.pic {
  position: relative;
  float: left;
}

.homepage-pic {
  display: block;
  position: relative;
  width: 100%;
  background-size: cover;
  bacground-position: center center;
  z-index: 3;
  padding-bottom: 0;
  transition: all 250ms linear;
}

.tint {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  top: 0;
  z-index: 5;
  transition: all 250ms linear;
}

.pic:nth-child(1n) .tint {
  background-color: #00aeef;
}

.pic:nth-child(3n) .tint {
  background-color: #fff200;
}

.pic:nth-child(2n) .tint {
  background-color: #ec008c;
}

.pic:hover .tint {
  opacity: 0.7;
}

.student p {
  float: left;
  position: relative;
  text-align: center;
  margin-bottom: -1em;
  width: 100%;
  z-index: 10;
  padding: 0.6em 0 0.4em;
  background-color: rgba(100, 100, 100, 0.5);
  color: #fff;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-family: 'futura-pt', sans-serif;
}

.l-1-6, .m-1-4, .s-1-2 {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 3em 0;
}

@media only screen and (min-width: 20em) {
  .grads p {
    margin-top: -2.35em;
  }
  .s-1-2 .pic {
    width: 50%;
  }
  .s-1-2 .pic2 {
    width: 100%;
  }
  .grads .partial {
    display: block;
  }
  .grads .full {
    display: none;
  }
  .teachers {
    width: 100%;
  }
 }

@media only screen and (min-width: 37.5em) {
  .m-1-4 .pic {
    width: 25%;
  }
  .m-1-4 .pic2 {
    width: 50%;
  }
  .grads .partial {
    display: none;
  }
  .grads .full {
    display: block;
  }
 }

@media only screen and (max-width: 900px) {
  .grads .partial {
    display: block;
  }
  .grads .full {
    display: none;
  }
 }

@media only screen and (min-width: 75em) {
  .grads p {
    margin-top: -2.3em;
  }
  .l-1-6 .pic {
    width: 16.6666%;
  }
  .l-1-6 .pic2 {
    width: 33.3333%;
  }
 }

.event {
  position: relative;
  display: inline-block;
  padding: 0 10% 3em;
  width: 100%;
}

.left-event, .right-event {
  float: left;
  text-align: center;
  display: inline-block;
}

.event p {
  line-height: 1.25em;
  font-size: 1.25em;
}

.right-event h3 {
  font-size: 1.5em;
}

.event h4 {
  font-family: 'futura-pt', sans-serif;
  margin: 0;
  color: #00aeef;
}

.invite {
  padding: 0.65em 1em;
  font-size: 1.5em;
  display: inline-block;
  padding: 2em auto;
  border: 5px solid #00aeef;
  transition: all 200ms ease;
}

.right-event a:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
        }

@media only screen and (min-width: 20em) {
  .left-event, .right-event {
    width: 100%;
  }

  .left-event h5, .right-event h5 {
    margin-bottom: 0;
    margin-top: 1em;
  }

  .map {
    width: 300px;
  }

  .invite {
    width: 250px;
    font-size: 1.5em;
    margin-top: 1em;
  }

 }

@media only screen and (min-width: 75em) {
  .left-event, .right-event {
    width: 50%;
  }

  .left-event h5, .right-event h5 {
    margin-bottom: 1em;
  }

  .map {
    width: 350px;
  }

  .invite {
    width: 350px;
    font-size: 2em;
    margin-top: 1em;
  }

 }

footer {
  position: relative;
  background-color: #222;
  padding: 5em 0 3em;
  text-align: center;
}

footer .invite {
  color: #fff;
  border: 5px solid #fff;
}

ul {
  list-style-type: none;
}

.social-links {
  display: block;
  width: 100%;
  margin: 0.6em 0 0.5em;
}

.social, .ac-logos {
  display: block;
  width: 100%;
}

.social-links li {
  display: inline-block;
}

.social-links img {
  width: 40px;
  margin: 0.25em 0;
  transition: all 100ms ease;
}

.ac-logos li {
  display: inline-block;
  margin: 2em 3%;
}

.ac-logos img {
  width: 100%;
}

.footer-social {
  display: block;
}

.footer-social img {
  width: 100%;
}

.footer-social li {
  display: inline-block;
  width: 66px;
  margin: 3em 5%;
  transition: all 250ms linear;
}

.footer-social li:hover {
  transform: scale(1.1);
}

@media only screen and (min-width: 20em) {
  .social-links li {
    width: 55px;
  }

  .ac-logos li {
    width: 30%;
  }

  .tablet li, .desktop li {
    display: none;
  }

 }

@media only screen and (min-width: 37.5em) {
  .social-links li {
    width: 70px;
  }
  .ac-logos li {
    width: 25%;
  }
  .tablet li {
    display: inline-block;
  }
 }

@media only screen and (min-width: 75em) {
  .social-links li {
    width: 85px;
  }
  .ac-logos li {
    width: 15%;
  }
  .desktop li {
    display: inline-block;
  }
 }

.student-box {
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  width: 100%;
  height: 100%;
  display: none;
  padding-top: 3%;
  color: #000;
  z-index: 1000;
  overflow-y: scroll;
  transition: all 250ms linear;
}

.student-box h2 {
  font-size: 2em;
  text-transform: uppercase;
  color: #222222;
  letter-spacing: 1px;
  font-family: "futura-pt", sans-serif;
  font-weight: 700;
  margin: 0.25em 0 0;
  letter-spacing: 2px;
}

.overlay {
  display: block;
}

.noscroll {
  overflow: hidden;
}

.cover-buttons {
  width: 100%;
  clear: both;
  text-align: right;
}

.cover-buttons img {
  width: 50px;
}

.cover-buttons a:last-child {
  margin-right:5%;
}

.cover-buttons i {
  display: inline-block;
  font-size: 5em;
}

.cyan-icon {
  color: #00aeef;
  margin-right: 2%;
}

.cyan-icon p {
  color: #000;
  font-size: 1em;
}

.magenta-icon {
  margin-right: 2%;
  color: #ec008c;
}

.magenta-icon p {
  color: #000;
}

.left {
  padding: 0 5%;
  float: left;
  margin: 0.25em 0;
  font-size: 1em;
  list-style-type: none;
}

.left .lightbox-pic {
  width: 100%;
}

.lightbox-pic {
  border-bottom: 5px solid #222222;

}

.left .social {
  width: 100%;
  list-style-type: none;
}

.skill {
  margin: 0;
  padding: 0;
  color: #222222;
  letter-spacing: 1px;
  font-weight: 400;
  font-family: 'open-sans', sans-serif;

}

.left p {
  font-size: 1em;
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 0;

}

.right {
  float: left;
  margin-top: 1em;
  text-align: center;
}

.right-content {
  width: 50%;
  float: left;
}

.right-content img {
  display: block;
  width: 100%;
}

.right-content iframe {
  display: block;
  width: 100%;
  overflow: auto;
}

.site, .email {
  color: #222222;
  display: inline-block;
  font-weight: 400;
  letter-spacing: 1px;
  font-family: "open-sans", sans-serif;
  margin-bottom: 0.09em;
  font-size: 0.95em;
}

@media only screen and (min-width: 20em) {
  .right img {
    width: 100%;
    text-align: center;
  }
  .left {
    width: 100%;
    text-align: center;
    margin: 1em 0;
  }
  .right {
    width: 100%;
    margin-bottom: 3em;
    padding: 0 5%;
  }
  .site {
    margin: .5em 0 1em 0;
  }

  .social-links {
    margin-top: 1em;
  }

  .cover-buttons {
    text-align: center;
  }

  .cover-buttons a:last-child {
    margin-right:0;
  }

  .cover-buttons img {
    width: 40px;
    margin:0 11.6%;
  }

 }

@media only screen and (min-width: 37.5em) {
  .right img {
    margin: 0;
  }
  .left .lightbox-pic {
    width: 50%;
    margin: 0 25%;
  }
  .right {
    width: 100%;
  }
  .left {
    text-align: center;
  }

  .cover-buttons {
    margin-bottom: 1em;
  }

  .cover-buttons img {
    width: 40px;
    margin: 0;
    margin: 0 1em;
  }

 }

 .cb-top {
  margin-top: .5em;
 }

 @media only screen and (min-width: 37.5em) {
    .cb-top {
    display:none;
  }
 }

@media only screen and (min-width: 75em) {
  .right img {
    margin: 0;
    display: block;
  }
  .left {
    width: 40%;
    text-align: left;
  }
  .right {
    width: 60%;
    padding: 0 5% 0 2.5%;
  }
  .left .lightbox-pic {
    width: 100%;
    margin: 0;
  }
  .cover-buttons {
    text-align: right;
  }

  .cover-buttons img {
    margin:0;
  }

  .close-overlay img {
    margin-right:5%;
  }

  .next-student img,
  .prev-student img {
    margin-right:4%;
  }

  .cb-top {
    display:none;
  }

}

// Toggle
.toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}
.toggle + label {
    display: block;
    margin: 0 auto;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input.toggle-round-flat + label {
    padding: 2px;
    width: 60px;
    height: 30px;
    margin: 2rem auto;
    background-color: #ec008b;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 60px;
    -webkit-transition: background 0.4s;
    -moz-transition: background 0.4s;
    -o-transition: background 0.4s;
    transition: background 0.4s;
}

input.toggle-round-flat + label:before, input.toggle-round-flat + label:after {
    display: block;
    position: absolute;
    content: "";
}

input.toggle-round-flat + label:before {
    top: 4px;
    left: 4px;
    bottom: 4px;
    right: 4px;
    background-color: #fff;
    -webkit-border-radius: 70px;
    -moz-border-radius: 70px;
    -ms-border-radius: 70px;
    -o-border-radius: 70px;
    border-radius: 70px;
    -webkit-transition: background 0.4s;
    -moz-transition: background 0.4s;
    -o-transition: background 0.4s;
    transition: background 0.4s;
}

input.toggle-round-flat + label:after {
    top: 7px;
    left: 7px;
    bottom: 7px;
    width: 28px;
    background-color: #ec008b;
    -webkit-border-radius: 70px;
    -moz-border-radius: 70px;
    -ms-border-radius: 70px;
    -o-border-radius: 70px;
    border-radius: 70px;
    -webkit-transition: margin 0.4s, background 0.4s;
    -moz-transition: margin 0.4s, background 0.4s;
    -o-transition: margin 0.4s, background 0.4s;
    transition: margin 0.4s, background 0.4s;
}

input.toggle-round-flat:checked + label {
    background-color: #00aeef;
}

input.toggle-round-flat:checked + label:after {
    margin-left: 18px;
    background-color: #00aeef;
}

.label {
    position: absolute;
    bottom: 8px;
    font-size: .75em;
    color: #222222;
    text-align: center;
    font-family: 'Futura Std', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}

input.toggle-round-flat:checked + .label {
    color: #00aeef;
}

.left {
    right:120px;
    top: 40px;
}

.right {
    left:80px;
    top:40px;
}

@media only screen and (min-width: 75em) {
  .left {
    right:160px;
    top: 40px;
  }
}

