@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

ul {
	list-style-type:none;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	-webkit-padding-start: 0;
}

*, *:before, *:after {
	box-sizing: inherit;
}

a {
	text-decoration: none;
}

html,
body,
section,
img,
ul,
li {
	@include zero;
	@include font;
}

//																						HEADER

header {
	text-align: right;
	position: relative;
	border-bottom: 5px solid #fff;
	padding: 0 5%;
	z-index: 10;
}


.logo-head {
	float: left;
	left: 5%;
	position: absolute;
	max-height: 50px;
	top: 0.75em;
}

header h4 {
	display: inline-block;
	padding: 0 2%;
	color: #fff;
	letter-spacing: 2px;
}

.sticky-nav {
	@include ease(all, 250ms, linear);
	position: fixed;
	top:0;
	z-index: 1000;
	width:100%;
	background-color: rgba(#222222, 0.95);
}


@media #{$mobile} {
	header h4 {
		font-size: 0.75em;
	}
	.logo-head {
		max-height: 30px;
		top: 0.5em;
	}
}

@media #{$tablet} {
	header h4 {
		font-size: 1em;
	}
	.logo-head {
		max-height: 40px;
		top: 0.75em;
	}
}

@media #{$desktop-small} {
	header h4 {
		font-size: 1.25em;
	}
	.logo-head {
		max-height: 60px;
		top: 0.35em;
	}
}

// 																						LANDING

.front {
	margin-top: -78px;
	text-align: center;
	padding: 10em 0;
	background-color: #bbb;
}

.logo {
	display: block;
	margin: 0 auto 5em;
}

.play {
	color: #fff;
	letter-spacing: 2px;
	display: inline-block;
	margin: 0;
}

.arrow {
	position: absolute;
	width: 80px;
	margin-left: -40px;
}

@media #{$mobile} {
	.play{
		font-size: 1em;
		padding: 0.75em 1em;
		border: 3px #fff solid;
	}
	.logo {
		width: 200px;
	}
	.arrow {
		top: 32em;
	}
}

@media #{$tablet} {
	.play{
		font-size: 2em;
		padding: 0.5em 1em;
		border: 5px #fff solid;
	}
	.logo {
		width: 300px;
	}
	.arrow {
		top: 40em;
	}
}

@media #{$desktop-small} {
	.play {
		font-size: 2.5em;
		padding: 0.75em 1.5em;
	}
	.logo {
		width: 400px;
	}
	.arrow {
		top: 45em;
	}
}

//																						ABOUT

.about {
	padding: 5em 20% 3em;
	position: relative;
}

h5 {
	text-align: center;
	font-size: 2.5em;
	letter-spacing: 1px;
	@include zero;
	margin-bottom: 1.5em;
}

.about p {
	font-size: 1.25em;
	line-height: 1.25em;
}

.sep {
	position: relative;
	width: 80%;
	margin: 2em 10% 2em;
}

//																						STUDENTS


.pic {
	position:relative;
	float:left;
}

.homepage-pic {
	display:block;
	position:relative;
	float:left;
	width:100%;
	background-size: cover;
	bacground-position: center center;
	z-index: 3;
	padding-bottom:0;
	transition: all 250ms linear;
}

.tint {
	position: absolute;
	background-color: cyan;
	width: 100%;
	height: 100%;
	opacity: 0;
	top: 0;
}

.yellow {
	background-color: yellow;
}

.magenta {
	background-color: magenta;
}

.tint:hover {
	opacity: .5;
}

.grads p {
	float: left;
	position: relative;
	text-align: center;
	margin-top: -2em;
	margin-bottom: -1em;
	width:100%;
	z-index: 10;
	padding: 0.6em 0 .5em;
	background-color: rgba(100,100,100,0.5);
	color: #fff;
	letter-spacing: 1px;
	font-weight:300;
}

.l-1-6,
.m-1-4,
.s-1-2 {
	position: relative;
	display: block;
	overflow: hidden;
	margin: 3em 0;
}

@media #{$mobile} {
	.s-1-2 .pic {
		width: 50%;
	}
	.s-1-2 .pic2 {
		width: 100%;
	}
	.grads {
		.partial {
			display: block;
		}
		.full {
			display: none;
		}
	}
}

@media #{$tablet} {
	.m-1-4 .pic {
		width: 25%;
	}
	.m-1-4 .pic2 {
		width: 50%;
	}
	.grads {
		.partial {
			display: none;
		}
		.full {
			display: block;
		}
	}
}

@media #{$desktop-small} {
	.l-1-6 .pic {
		width: 16.6666%;
	}
	.l-1-6 .pic2 {
		width: 33.3333%;
	}
}

.teachers {
	width: 100%;
}

//																				EVENT

.event {
	position: relative;
	display: inline-block;
	padding: 0 10% 3em;
	width: 100%;
}

.left-event,
.right-event {
	float: left;
	text-align: center;
	display: inline-block;
}

.event p {
	line-height: 1.25em;
	font-size: 1.25em;
}


.right-event h3 {
	font-size: 1.5em;
}

.event h4 {
	padding: 0.5em 0;
	margin: 0;
	color: MEDIUMTURQUOISE;
}

.invite {
	display: inline-block;
	padding: 2em auto;
	border: 5px solid MEDIUMTURQUOISE;
	transition: all 200ms ease;
}

.right-event a:hover {
	transform: scale(1.25);
}

@media #{$mobile} {
	.left-event,
	.right-event {
		width: 100%;
	}
	.left-event h5,
	.right-event h5 {
		margin-bottom: 0;
		margin-top: 1em;
	}
	.map {
		width: 300px;
	}
	.invite {
		width: 250px;
		font-size: 1.5em;
		margin-top: 1em;
	}
}

@media #{$tablet} {
	.left-event,
	.right-event {
		width: 50%;
	}
	.left-event h5,
	.right-event h5 {
		margin-bottom: 1em;
	}
	.map {
		width: 200px;
	}
	.invite {
		width: 200px;
		font-size: 1em;
		margin-top: 1em;
	}
}

@media #{$desktop-small} {
	.map {
		width: 350px;
	}
	.invite {
		width: 300px;
		font-size: 2em;
	}
}

//																				FOOTER

footer {
	position: relative;
	background-color: #666;
	padding: 5em 0 3em;
	text-align: center;
}

ul {
	list-style-type: none;
}

.social-links {
	text-align: center;
}

.social,
.ac-logos {
	display: block;
	width: 100%;
}

.social-links li {
	display: inline-block;
	padding: 2em;
}

.social-links img {
	width: 100%;
	border-radius: 200px;
	transition: all 100ms ease;
}

.social-links a img:hover {
	transform: scale(1.15);
}

.ac-logos li {
	display: inline-block;
	margin: 2em 3%;
}

.ac-logos img {
	width: 100%;
}

@media #{$mobile} {
	.social-links li {
		width: 75px;
		height: 75px;
	}
	.ac-logos li {
		width: 30%;
	}
	.tablet li,
	.desktop li {
		display: none;
	}
}

@media #{$tablet} {
	.social-links li {
		width: 100px;
		height: 100px;
	}
	.ac-logos li {
		width: 25%;
	}
	.tablet li {
		display: inline-block;
	}
}

@media #{$desktop-small} {
	.ac-logos li {
		width: 15%;
	}
	.desktop li {
		display: inline-block;
	}
}

//																				OVERLAY/cover itself


.student-box {
	position:fixed;
	display:none;
	top: 0;
	left:0;
	padding: 6em 0;
	z-index: 2000;
	width:100%;
	height:100%;
	background:rgba(#222222, .8);
}

.student-box h2 {
	color: #fff;
	letter-spacing:1px;
	font-weight: 300;
}

.overlay {
	display:block;
}

.noscroll {
	overflow:hidden;
}


//																			WITHIN COVER

.prev-student,
.next-student,
.close-overlay {
	position: absolute;
}

.prev-student,
.next-student,
.close-overlay {
	border: 2px solid #fff;
	padding: 0.5em 1em;
}

.prev-student {
	top: 1.25em;
	left: 7.5%;
}

.next-student {
	top: 1.25em;
	right: 2.5%;
}

.close-overlay {
	bottom: 2em;
	right: 2.5%;
}

.left {
	padding: 0 7.5%;
	float: left;
	width: 50%;
}

.left h2 {
	font-size: 1.5em;
}

.left .lightbox-pic {
	width: 100%;
}

.left .skills li {
	margin: 0.25em 0;
	font-size: 1em;
	list-style-type: none;
}

.left .social {
	margin: 1.5em 0;
	width: 100%;
	list-style-type: none;
}

.left p {
	font-size: 1em;
	display: inline-block;
	width: 100%;
	@include zero;
	margin: 0 0 0.5em;
}

.right {
	float: left;
	width: 50%;
	padding-right: 1%;
}

.right img {
	width: 50%;
	float: left;
}

.site,
.email {
	color: #fff;
	font-weight: 300;
	letter-spacing: 1px;
}

//																				FOOTER

//																				MEDIA QUERIES

@media #{$mobile} {
	.right img{
		width: 75%;
		margin: 0.25em 12.5%;
	}
}

@media #{$tablet} {
	.right img{
		width: 50%;
		margin: 0;
		padding: 0 2.5% 2em;
	}
}

@media #{$desktop-small} {
	.right img{
		width: 50%;
		margin: 0;
		padding: 0 2.5% 2em;
	}
}
